{% extends "layout.html" %}

{% block nav_writeup %}active{% endblock %}

{% block body %}

<section class="jumbotron">
    <h1>CTFs' Writeups</h1>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Played with the team <a href="https://ctftime.org/team/11869" target="_blank">InSecurity</a> (cf <a target="_blank" href="http://insecurity-insa.fr"> website</a>).
            </p>
        </div>
    </div>
</section>

<section>
    <h2 style="padding-top:10px;">List of writeups</h2>
    <ul class="well">
    {% for ctf, writeup in writeups %}
        <li style="margin: 10px">
            {% set wu_name = '-'.join(writeup.split('-')[:2]) %}
            {% set ctf_date, ctf_name = ctf.split(' - ') %}
            {% set ctf_date_formatted = ctf_date.replace(' ', '/') %}
            <b><a href="/writeup/{{ ctf }}/{{ writeup }}">{{ wu_name }}</a></b> &nbsp; (from <i>{{ ctf_name }}, the {{ ctf_date_formatted }}</i>)
        </li>
    {% endfor %}
    </ul>
</section>

{% endblock %}

