<section id="education">
    <div class="container">
        <div class="page-header">
            <h2>Education</h2>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-wrench"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">TCD - Computer Science - Eurasmus</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>Sept 2016 - January 2017 (5 months)</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            Prestigious Irish school (cf <a href="http://www.tcd.ie/" target="_blank">tcd.ie</a>).
                        </p>
                    </div>
                </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="glyphicon glyphicon-flash"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">INSA Lyon - Computer Engineering</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Sept 2014 - now</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            In the top 10 of the best french engineering schools (cf <a target="_blank" href="http://www.letudiant.fr/palmares/palmares-des-ecoles-d-ingenieurs/excellence-academique-2.html">letudiant.fr</a>).
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="glyphicon glyphicon-lock"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Preparatory class - INSA Lyon</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Sept 2012 - June 2014 (2 years)</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>Physics / Mathematics / Computer Science</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge"><i class="glyphicon glyphicon-eye-open"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">French <i>Baccaloreat</i> with honors</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>June 2012</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            High School at Carpentras (France) - Mathematics Option
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>