<section>
    <div class="container">
        <div class="page-header">
            <h2 id="experiences">Experiences</h2>
        </div>
        <ul class="timeline">

            <li>
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-lock"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">DevOps in OVH's SOC team</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> September 2017 - now</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>I build security features using Go, Python, Docker..</p>
                        <p>OVH is a major player in the European cloud market. It's so great to be part of this highly growing tech company, especially in the Security Operation Center team</p>
                    </div>
                </div>
            </li>


            <li class="timeline-inverted">
                <div class="timeline-badge danger"><i class="glyphicon glyphicon-asterisk"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Software Engineer Internship at <a href="https://www.hubspot.com/" target="_blank">HubSpot</a></h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Summer 2017, 4 months</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            I was part of the notification team and worked on highly available APIs, database migrations, reporting tools.
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-wrench"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">OVH internship</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Summer 2016, 4 months</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            Establishment of a bugbounty : <a href="https://bountyfactory.io/ovh/ovh" target="_blank">Bug Bounty</a>. Discussion with the hackers and the internal teams.
                            <br>
                            Pentest of OVH applications in white box (especially the public <a href="https://api.ovh.com" target="_blank">api.ovh.com</a>) and a lot of opensource applications running on Linux.
                        </p>
                    </div>
                </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="glyphicon glyphicon-flash"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">INSECURITY club</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Sept 2014 - May 2017 (3 years)</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            INSA club which offers courses from external speaker. We participated at CTFs and online security challenges.
                            <br> We organise CTFs and security conferences at INSA de Lyon. <br>
                            I designed the whole architecture to host the challenges (more than 400 teams worldwide on the last edition)
                            <br>
                            Team with which I play CTF : <a href="https://ctftime.org/team/11869" target="_blank">CTFtime.org</a>
                            <br>
                            Website of the association : <a href="http://insecurity-insa.fr" target="_blank">insecurity-insa.fr</a>.
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge danger"><i class="glyphicon glyphicon-lock"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">AMOSSYS internship</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2015 - Aout 2015 (3 months)</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>AMOSSYS is an information security company certificated by <a href="http://www.ssi.gouv.fr/">ANSSI</a> (French government) performing pentests.</p>
                        <p>I performed pentests of web applications and networks with the help of experimented pentesters.</p>
                        <p>Another mission was the design of custom VMs and system images (CloneZilla) for an automated deployment of pentest tools.</p>
                        <p>The last mission was the design and implementation of a tool (using Django) which centralize the knowledge of the company, so that pentesters have a database on which they can rely on.</p>
                    </div>
                </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-badge"><i class="glyphicon glyphicon-eye-open"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Security Project</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Oct 2014 - June 2015 (9 months)</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            Project coming from a personal initiative. Encouraged by INSA de Lyon.
                            Solving of security challenges coming from specialized websites :
                            <a href="http://www.root-me.org/" target="_blank">Root-me.org</a> et
                            <a href="http://w3challs.com/challenges/" target="_blank">W3Challs.com</a>.
                        </p>
                        <p>
                            Manager of a team of 5 people.
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge danger"><i class="glyphicon glyphicon-asterisk"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">24heures de l'INSA</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Sept 2014 - June 2015 (10 months)</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>Involved in the <i>24h de l'INSA</i> association (the biggest european festival organized by students).</p>
                        <p>Design of the Wordpress theme. cf: <a href="http://24heures.org" target="_blank">24heures.org</a></p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-wrench"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Jarretier Automobile, Carpentras - Dev C/C++ & MySQL</h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Summer 2013, 2 months</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            1st year internship in a SME (JARRETIER Automobile)
                            Design and implementation of an inventory management application in C / C ++ and MySQL.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
