{% extends "layout.html" %}

{% block navwriteups %}active{% endblock %}

{% block body %}

<h2 class="nopadding">
    <a href="/writeup">&#8592; All CTFs</a>
</h2>

<section class="jumbotron">
    <h1>Writeups for {{ctf}}</h1>
    <p>For more writeups please see <a href="http://insecurity-insa.fr/writeUp" target="_blank">InSecurity website</a></p>
</section>


<section>
    <ul class="well">
    {% for writeup in writeups %}
        <li>
            <a href="/writeup/{{ctf}}/{{writeup}}">{{writeup}}</a>
        </li>
    {% endfor %}
    </ul>
</section>


{% endblock %}

